# https://github.com/open-webui/helm-charts/tree/91150bd0a53b887bbd5d1b5ff06bc334e3508c32/charts/open-webui

replicaCount: ref+envsubst://$OPEN_WEBUI_REPLICA

ollama:
  enabled: false
pipelines:
  enabled: false

ingress:
  enabled: true
  class: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: pod
  host: ref+envsubst://$OPEN_WEBUI_DOMAIN
  tls: true

persistence:
  enabled: false # Use database instead

openaiBaseApiUrl: http://litellm.litellm.svc.cluster.local:4000

extraEnvVars:
  - name: OPENAI_API_KEY
    value: ref+envsubst://$LITELLM_MASTERKEY
  - name: DEFAULT_USER_ROLE
    value: ref+envsubst://$OPEN_WEBUI_DEFAULT_USER_ROLE

databaseUrl: ref+k8s://v1/Secret/open-webui/openwebui-db-cluster-app/uri

nodeSelector:
  node-role.kubernetes.io/worker: "true"
