# https://github.com/prometheus-community/helm-charts/blob/c13ac377f1f9ac3efa8e50251f15cc6d2a5c146b/charts/kube-prometheus-stack/values.yaml

defaultRules:
  rules:
    alertmanager: false
    windows: false

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ['ReadWriteOnce']
          resources:
            requests:
              storage: 10Gi
        selector: {}
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
  nodeSelector:
    node-role.kubernetes.io/master: "true"

grafana:
  enabled: false

alertmanager:
  enabled: false

nodeExporter:
  operatingSystems:
    aix:
      enabled: false
    darwin:
      enabled: false
