# https://github.com/BerriAI/litellm/tree/396ab80f56a81b668213c42b68acf1231024abae/deploy/charts/litellm-helm

replicaCount: ref+envsubst://$LITELLM_REPLICA
masterkey: ref+envsubst://$LITELLM_MASTERKEY

proxy_config:
  model_list:
    - model_name: gpt-4o-mini
      litellm_params:
        model: openai/gpt-4o-mini
        api_key: ref+envsubst://$OPENAI_API_KEY
  general_settings:
    store_model_in_db: true
    store_prompts_in_spend_logs: true

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: ref+envsubst://$LITELLM_DOMAIN
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: litellm-tls
      hosts:
        - ref+envsubst://$LITELLM_DOMAIN

db:
  useExisting: false
  deployStandalone: false

extraEnvVars:
  - name: DATABASE_URL
    value: ref+k8s://v1/Secret/litellm/litellm-db-cluster-app/uri

nodeSelector:
  node-role.kubernetes.io/worker: "true"
